.forum-table {
  margin-top: 20px;
}

.centered {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

body {
  background-color: lightgray;
}

.container {
  background-color: white;
}

.table-div {
  border-radius: 25px;
  border: solid 1px lightgray;
  margin: 10px;
  padding: 20px;
}