.forum-table {
  margin-top: 20px;
}

.centered {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

body {
  background-color: lightgray;
}

.container {
  background-color: white;
  border-right: solid darkgray 2px;
  border-left: solid darkgray 2px;
  padding-bottom: 20px;
}

.table-div {
  border-radius: 25px;
  border: solid 1px lightgray;
  box-shadow: 5px 10px darkgray;
  padding: 20px;
  margin: 50px;
}

.post-div {
  border: solid 1px lightgray;
  box-shadow: 5px 10px darkgray;
  padding: 20px;
  margin: 50px;
}